button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
}

/* tables */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
  border-spacing: 0;
  
  border: 1px solid #ddd;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other on screens that are smaller than 600 px */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

.row {
  margin-left:-5px;
  margin-right:-5px;
  display: flex;
}
  
.column {
 

  padding: 5px;
  flex: 50%;
  
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}

/* centering things */
.box {
  border: 3px solid green;
}

.center {
  margin: auto;
  width: 50%;
  padding: 3px;
}

.text-center {
  text-align: center;
}